@charset "utf-8";
/* CSS Document */
/*Css de estilo de para telas auxiliares que alimentam combobox  de formularios*/


* {
	margin: margin:10% 10% 10% 10%;
}

main {
	width:940px;
	height:1300px;
	margin:auto;

}

section {
	width:60%;
	height:40px; 

}

label{
	margin:10% 20% 20% 0%;
	Width:5%;
	height:100px;
}

.labelAtivo{
	font-weight:bold;
	margin:50% 1% 0% 0%;
	Width:10px;
	height:2px;
}

input{	
	margin:0% 0% 0% 0%;
	Width:98%;
	height:38px;
}

.inputAtivo{
	margin:0% 2% 0% 0%;	
	Width:5%;
	height:18px;
	border:none;
	border-redius:5px;
	
}

.button{
	margin:8% 0% 0% 0%;
	Width:24%;
}

