@CHARSET "ISO-8859-1";

/*2ª a ser chamando 
 * Css  global de definidor de fontes padrões para o sistema a personalização deve ser feita no css de cada pagina*/

body{ /*Definições de fundo padrão de todas as tealas */
	background-color: #d1ffa4;	
}

section {
	margin-top:120px;
	margin-left:auto;
	margin-right:auto;
	width:auto;
	height:auto;
}


body{ /*Definição padrão de todas as telas*/
	font-family: sans-serif, Arial, Verdana;
	font-size:16px;
	font-weight:bold;
	color:#0080c0;
}