"PSAS/SAS/css/global.css"@CHARSET "ISO-8859-1";

/*1ª a ser chamando 
Css  global de definidor de padrões globais para o sistema a personalização deve ser feita no css de cada pagina
neste css deve-se apenas definir estilos genéricos*/

body {
	background-color: #ff80ff;
}

footer {
	width: 100%;
	height: 60px;
	background-color: #CFB53B ;
}

input{	
	Width:85%;
	height:40px;
	border:none;
	border-redius:5px;
	background-color:#EEE;
}

select{	
	Width:98%;
	height:40px;
	border:none;
	border-redius:5px;
	background-color:#EEE;
}

.button{
	Width:21%;
	height:70px;
	font-weight:bolder;
	font-size:20px
}

footer p{
	color: #3366FF;
	text-align: center;
	font-size: 12px;
}
