@charset "utf-8";
/* CSS Document */

* {
	margin: 0px;
}


main {
	width:940px;
	height:1300px;
	margin:auto;
}

section {
	width:40%;
	height:180px; 
	
}

label{
	margin:10% 20% 20% 0%;
}

input{	
	margin:0% 0% 0% 0%;
	Width:98%;
	height:38px;
	background-color:#ccc; 
}

select{
	background-color:#fef5ba;
}

.button{
	margin:10% 0% 0% 0%;
	Width:98%;
	height:50px;
}

