@CHARSET "ISO-8859-1";

/* Css de personalisação 

*/

* {
	margin: margin:10% 10% 10% 10%;
}


main {
	width:1500px;
	height:1900px;
	margin:auto;

}

section {
	width:60%;
	height:40px; 

}

label{
	margin:10% 20% 20% 0%;
	Width:5%;
	height:100px;
}

.labelAtivo{
	font-weight:bold;
	margin:50% 1% 0% 0%;
	Width:10px;
	height:2px;
}

input{	
	margin:0% 0% 0% 0%;
	Width:98%;
	height:38px;
}

.inputAtivo{
	margin:0% 1% 0% 0%;	
	Width:2%;
	height:16px;
	border:none;
	border-redius:5px;
	
}

.button{
	margin:8% 0% 0% 0%;
	Width:24%;
}
